# Intellij
.idea/*
*.iml

# Eclipse files
.project
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# VS Code
.vscode/*
*.code-workspace

# OSX
**/.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Crash log files
crash.log
crash.*.log

# Terraform files
**/.terraform/*
terraform/**/*.log
terraform/**/*manifest.json
terraform/entire-tf-output
**/entire-tf-output
*.tfstate
*.tfstate.*
.terraform.lock.hcl
